@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slider__body {
  position: relative;
}
.slider__body .slick-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5%;
}
.slider__body .slick-dots li {
  list-style-type: none;
}
.slider__body .slick-dots li:nth-child(2) {
  padding: 0 7px;
}
.slider__body .slick-dots li.slick-active button {
  background: #a9afb3;
}
.slider__body .slick-dots li button {
  font-size: 0;
  height: 11px;
  width: 11px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
  background: #fff;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, * before, * after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "Lato";
}

input, button, textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------*/
.header .header-row .menu-list, .header .header-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body.active {
  position: fixed;
  overflow: hidden;
}

body {
  overflow: hidden;
}

.page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen {
  flex: 1 1 100%;
  position: relative;
}

.header {
  height: 100vh;
}
.header .header-bg {
  height: 100%;
  width: 100%;
  background: url("../images/background.jpg") no-repeat center;
  background-size: cover;
}
.header .header-row {
  position: relative;
  top: 34px;
}
.header .header-row .menu-list {
  position: relative;
  top: 35px;
}
.header .header-row .menu-list li a {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: 2.6px;
  color: #4d4959;
}
.header .header-row li {
  padding: 0 38px;
}
.header .header-row li:nth-child(2) {
  padding-right: 222px;
}
.header .header-row .logo-header {
  position: relative;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 820px) {
  .header .header-row .menu-list li a {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
  .header .logo-header {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header .menu-link {
    color: #fff !important;
    font-size: 22px !important;
  }
  .header .header-menu {
    width: 100%;
  }
  .header .menu-icon {
    width: 30px;
    height: 20px;
    position: relative;
    top: 25px;
    left: calc(100% - 55px);
    padding: 10px;
    display: block;
  }
  .header .menu-icon:after,
.header .menu-icon:before {
    content: "";
    display: block;
    height: 2px;
    background-color: #4d4959 !important;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 100;
    transform-origin: left;
    transition: all 0.2s linear;
  }
  .header .menu-icon span {
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #4d4959 !important;
    top: calc(50% - 1px);
    left: 0;
    z-index: 100;
    transition: all 0.3s linear;
  }
  .header .menu-icon.active:after {
    background-color: #fff !important;
    transform: rotate(-40deg);
  }
  .header .menu-icon.active:before {
    background-color: #fff !important;
    transform: rotate(40deg);
  }
  .header .menu-icon.active span {
    background-color: #fff !important;
    display: none;
  }
  .header .menu-icon:after {
    top: calc(100% - 1px) !important;
  }
  .header .menu-icon:before {
    top: 0px;
  }
  .header .menu-body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: #4d4959;
    transition: all 0.2s linear;
    transform-origin: left;
    transform: translateY(-100%);
  }
  .header .menu-body.active {
    transform-origin: left;
    transform: translateY(0);
  }
  .header .menu-list {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
  }
  .header .menu-list li {
    padding: 19px 0 !important;
  }
}

.generation {
  padding: 120px 0;
  background: #f7f7f7;
}
@media (max-width: 900px) {
  .generation {
    padding: 80px 0;
  }
  .generation .block__title {
    font-size: 16px;
  }
  .generation .block * __text {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 60px 0;
  }
  .generation .block__title {
    font-size: 14px;
  }
  .generation .block * __text {
    font-size: 14px;
  }
}

.block__icon {
  text-align: center;
  padding-bottom: 33px;
}
.block__title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-bottom: 20px;
}
.block__text {
  color: #848789;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}
.block__text_j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text_j:after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #353738;
}
@media (max-width: 1500px) {
  .block__text_j:after {
    margin-bottom: 10px;
  }
}

.brands__row {
  display: flex;
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column_b {
  flex: 0 1 66.667%;
}
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brands__content:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  z-index: 1000;
  margin-left: -15px;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-top: 20px solid #fff;
}
.brands__rev .brands__column {
  order: 1;
}
.brands__rev .brands__column_b {
  order: 2;
}
.brands__image {
  padding-bottom: 37.51%;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 40px 35px;
  }
}
@media (max-width: 1100px) {
  .brands__row {
    flex-direction: column;
  }
  .brands__last .brands__column:nth-child(1) {
    order: 2;
  }
  .brands__last .brands__column:nth-child(2) {
    order: 1;
  }
  .brands__last .brands__column:nth-child(3) {
    order: 3;
  }
}

.item {
  height: 100%;
  display: block;
  position: relative;
}
.item:hover .item__logo {
  background: rgba(100, 194, 158, 0.5);
  visibility: visible;
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: all 0.2s linear;
}
.item__logo span {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding-top: 13px;
}
.item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding-bottom: 70%;
  }
}

.slider {
  background-color: #f7f7f7;
  padding: 110px 0 140px;
}
.slider__icon {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.slider__title {
  margin-bottom: 20px;
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.slider__title span {
  color: #848789;
  font-family: "Lato Light";
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.8px;
  line-height: normal;
}
.slider__text {
  text-align: center;
  color: #848789;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
}
@media (max-width: 595px) {
  .slider__text {
    font-size: 20px;
  }
}
@media (max-width: 490px) {
  .slider__title {
    font-size: 17px;
  }
  .slider__text {
    font-size: 16px;
  }
}

.shop__body {
  display: flex;
}
.shop__column {
  flex: 0 1 16.666%;
}
.shop__column_b {
  flex: 0 1 33.333%;
}
.shop__block_rev {
  display: flex;
  flex-direction: column-reverse;
}
.shop__footer {
  background-color: #282f35;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0;
}
.shop__btn {
  color: #fff;
  display: block;
  padding: 21px 56px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
@media (max-width: 1100px) {
  .shop__body {
    flex-wrap: wrap;
  }
  .shop__column {
    flex: 0 1 50%;
  }
  .shop__column:last-child, .shop__column:first-child {
    flex: 1 1 100%;
  }
  .shop__footer {
    padding: 50px 0;
  }
}

.block-shop {
  height: 100%;
}
.block-shop__row {
  display: flex;
}
.block-shop__column {
  flex: 0 1 50%;
}
.block-shop__item {
  padding-bottom: 50%;
  height: auto;
}
.block-shop__item .item__logo {
  visibility: hidden;
}
.block-shop__item_b {
  padding-bottom: 204%;
}
.block-shop__item_l {
  padding-bottom: 100%;
}
@media (max-width: 1100px) {
  .block-shop__item {
    padding-bottom: 50%;
    height: auto;
  }
  .block-shop__item .item__logo {
    visibility: hidden;
  }
  .block-shop__item_b {
    padding-bottom: 200%;
  }
}

.subscribe__body {
  padding: 110px 0;
}
.subscribe__logo {
  display: flex;
  justify-content: center;
}
.subscribe__laber {
  color: #848789;
  font-size: 24px;
  letter-spacing: normal;
  display: flex;
  justify-content: center;
  padding: 39px 0 42px 0;
}
.subscribe__form {
  display: flex;
  justify-content: center;
}
.subscribe__input {
  border: 1px solid #d3d7d9;
  padding: 22px 230px 23px 27px;
}
.subscribe__input[placeholder] {
  color: #929292;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 24px;
}
.subscribe__input:focus {
  border: 2px solid #64c29e;
}
.subscribe__button {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  height: 81px;
  background: #64c29e;
  margin-left: 8px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  transition: all 0.1s linear;
}
.subscribe__button:hover {
  background: #fff;
  color: #64c29e;
  border: 2px solid #64c29e;
}
@media (max-width: 625px) {
  .subscribe__input {
    padding: 10px 180px 12px 12px;
  }
  .subscribe__button {
    font-size: 22px;
    height: 68px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 505px) {
  .subscribe__input {
    padding: 9px 110px 10px 10px;
  }
}
@media (max-width: 425px) {
  .subscribe__input {
    padding: 9px 30px 10px 10px;
  }
  .subscribe__input[placeholder] {
    font-size: 19px;
  }
  .subscribe__button {
    font-size: 20px;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 425px) {
  .subscribe__input {
    padding: 9px 25px 10px 10px;
  }
  .subscribe__input[placeholder] {
    font-size: 18px;
  }
}

.footer {
  background: #f7f7f7;
  padding: 100px 0;
}
.footer__block {
  display: flex;
}
.footer__column {
  flex: 0 1 33.333%;
}
.footer__column_l {
  display: flex;
  flex-direction: column;
  color: #848789;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  flex: 0 1 33.33%;
  line-height: normal;
}
.footer__column_c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__column_c:nth-child(2) a {
  padding: 0 16px;
}
.footer__column_r {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #848789;
  font-size: 15px;
  font-style: italic;
  line-height: 17.87px;
  text-align: right;
}
.footer__column_r span {
  font-weight: 700;
  text-style: italic;
}
@media (max-width: 1100px) {
  .footer {
    padding: 65px 0;
  }
}
@media (max-width: 625px) {
  .footer {
    padding: 40px 0;
  }
  .footer__block {
    flex-wrap: wrap;
  }
  .footer__column {
    flex: 1 1 100% !important;
  }
  .footer__column_l {
    text-align: center;
  }
  .footer__column_c {
    padding: 15px 0;
    justify-content: center;
  }
  .footer__column_r {
    justify-content: center;
  }
}